<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <title>{% block title %}پارچه سرای محمد{% endblock title %}</title>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    {% load static %}
    <img src="{% static 'images/logo.jpg' %}" alt="لوگو پارچه سرای محمد">
    <nav>
        <ul>
            {% if not request.path == '/' %}
                <li><a href="{% url 'index' %}">صفحه اصلی</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <p>سلام {{user.first_name}} {{user.last_name}} عزیز خوش آمدین</p>
                <li><a href="{% url 'user_profile' %}">رفتن به پروفایل</a></li>
            {% else %}
                <li><a href="{% url 'user_login' %}">ورود</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- اضافه کردن فرم جستجو -->
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query" placeholder="جستجو در پارچه‌ها" required>
        <button type="submit">جستجو</button>
    </form>

    {% block content %}{% endblock content %}
</body>
</html>
