{% extends 'base.html' %}
{% block title %}اضافه کردن آدرس|{{ block.super }}{% endblock %}

{% block content %}
<h2>افضودن آدرس</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">ذخیره</button>
</form>
<script type="text/javascript">
    document.getElementById('id_state').onchange = function() {
        var stateId = this.value;
        var cityField = document.getElementById('id_city');
        cityField.innerHTML = '';
    
        if (stateId) {
            fetch(`/ajax/load-cities/?state_id=${stateId}`)
            .then(response => response.json())
            .then(data => {
                data.cities.forEach(function(city) {
                    var option = new Option(city.name, city.id);
                    cityField.options.add(option);
                });
            });
        }
    };
    </script>
{% endblock %}