{% extends 'base.html' %}

{% block title %}تنظیمات مدیر|{{ block.super }}{% endblock %}

{% block content %}
    {% if user.is_authenticated and user.is_admin %}
        <h2>صفحه تنظیمات مدیریت</h2>

        <!-- فرم با دکمه‌های رادیویی -->
        <form id="tabForm">
            <input type="radio" id="usersTab" name="adminTab" value="Users" onclick="openTab('Users')" checked>
            <label for="usersTab">کاربرها</label>

            <input type="radio" id="fabricsTab" name="adminTab" value="Fabrics" onclick="openTab('Fabrics')">
            <label for="fabricsTab">پارچه‌ها</label>
        </form>

        <!-- محتوای تب کاربران -->
        <div id="Users" class="tab-content">
            <h3>مدیریت کاربران</h3>
            <a href="{% url 'add_user' %}">افزودن کاربر جدید</a>
            <table>
                <thead>
                    <tr>
                        <th>نام و نام خانوادگی</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>
                            <a href="{% url 'edit_user' user.id %}">ویرایش</a> |
                            <a href="{% url 'delete_user' user.id %}">حذف</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- محتوای تب پارچه‌ها -->
        <div id="Fabrics" class="tab-content">
            <h3>مدیریت پارچه‌ها</h3>
            <a href="{% url 'add_fabric' %}">افزودن پارچه جدید</a>
            <table>
                <thead>
                    <tr>
                        <th>نام پارچه</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fabric in fabrics %}
                    <tr>
                        <td><img src="{{fabric.emage}}" alt="پارچه {{fabric.name}} با قیمت متری {{fabric.price}} تومان، توضیحات محصول: {{fabric.description}}، در دسته بندی {{fabric.category}}"></td>
                        <td>
                            <a href="{% url 'edit_fabric' fabric.id %}">ویرایش</a> |
                            <a href="{% url 'delete_fabric' fabric.id %}">حذف</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        {% load static %}
        <link rel="stylesheet" href="{% static 'web/admin_settings_style.css' %}">
        <script src="{% static 'web/admin_settings_script.js' %}"></script>
        
    {% else %}
        <h2>دسترسی محدود</h2>
        <p>متاسفانه شما اجازه دسترسی به این صفحه را ندارید.</p>
    {% endif %}
{% endblock %}
