{% extends 'base.html' %}
{% block title %}تأیید حذف|{{ block.super }}{% endblock %}

{% block content %}
    {% if user.is_authenticated and address %}
{% if address.user == user %}
    <h2>تأیید حذف</h2>
    <p>آیا از حذف {{ address.address }} که در استان {{ address.state }}، شهر {{ address.city }} قرار دارد مطمئنید؟</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">بله، حذف کن</button>
        <a href="{% url 'user_profile' %}">انصراف</a>
        {% else %}
        <h2>خطا در حذف آدرس</h2>
        <p>شما اجازه حذف این آدرس را ندارید</p>
        {% endif %}
    {% elif user.is_authenticated and user.is_admin %}
        <h2>تأیید حذف</h2>
        {% if user_object %}
        <p>آیا از حذف {{ user_object.first_name }} {{ user_object.last_name }} مطمئن هستید؟</p>
        {% elif fabric %}
        <p>آیا از حذف {{ fabric.name }} مطمئن هستید؟</p>
        {% endif %}
    
        <form method="post">
            {% csrf_token %}
            <button type="submit">بله، حذف کن</button>
            <a href="{% url 'admin_settings' %}">انصراف</a>
        </form>    
    {% else %}
        <h2>دسترسی محدود</h2>
        <p>متاسفانه شما اجازه دسترسی به این صفحه را ندارید.</p>
    {% endif %}
{% endblock %}
