{% extends 'base.html' %}
{% block title %}ورود با پسورد|پارچه سرای محمد{% endblock title %}
{% block content %}
    <h2>ورود با پسورد</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <input type="hidden" name="phone" value={{ phone }}>
            {% if form.phone.errors %}
            <div class="error">
                <p>خطا های مربوط به شماره تلفن</p>
                {{ form.phone.errors }}
            </div>
        {% endif %}
        </div>

            <input type="password" name="password" placeholder="پسورد">
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}
        <button type="submit">ورود</button>
    </form>
{% endblock content %}