{% extends 'base.html' %}
{% block title %}پروفایل من|{{ block.super }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h2>اطلاعات حساب من</h2>
<p>نام من: {{ user.first_name }}</p>
<p>نام خانوادگی من: {{ user.last_name }}</p>
<p>شماره تلفن من: {{ user.phone }}</p>

<!-- فرم خروج مخفی -->
<form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
    {% csrf_token %}
</form>

<!-- دکمه خروج که تابع JavaScript را فراخوانی می‌کند -->
<button type="button" onclick="confirmLogout()">خروج از حساب کاربری</button>

<script>
    function confirmLogout() {
        var confirmed = confirm("آیا مطمئنید که می‌خواهید از حساب کاربری خودتان خارج شوید؟");
        if (confirmed) {
            document.getElementById('logout-form').submit();
            alert("شما با موفقیت از حساب کاربری خودتون خارج شدین");
        }
    }
</script>
{% else %}
<h2>دسترسی محدود</h2>
<p>متاسفانه شما اجازه دسترسی به این صفحه را ندارید<br />اگر حساب کاربری ندارید از قسمت ورود با وارد کردن شماره تلفن خودتون حسابی بسازید و اگر حسابی دارید وارد حساب کاربریتون بشید و سپس به این قسمت مراجعه فرمایید</p>
{% endif %}
{% endblock %}
